<mddoc>
	<docpage target="README.md" autoloader="psr4" autoloader-root="src" autoloader-root-namespace="donatj\PhpDnfSolver">
		<section title="PHP DNF Solver">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="donatj/php-dnf-solver" workflow-file="ci.yml"/>

			<text>PHP DNF (Disjunctive Normal Form) Signature Compatibility Solver - see: https://wiki.php.net/rfc/dnf_types</text>

			<section title="Requirements">
				<composer-requires/>
			</section>

			<section title="Installing">
				<composer-install/>
			</section>

			<section title="Example">
				<source name="example/example.php" lang="php"/>
				<text>Outputs:</text>
				<exec cmd="php example/example.php" format="code-block"/>
			</section>

			<section title="Documentation">
				<recursive-directory name="src"/>
			</section>
		</section>
	</docpage>
</mddoc>
